body{
    background-color: rgba(0, 0, 1, 0.8);
    margin: 0;
    border:0;
    color:white;
    opacity: 0.85;
}

.resultado{
    width:400px;
    font-family: 'Roboto', sans-serif;
    font-size:8vw;
    font-weight:400;
    text-align: right;
}

#tipo-calc-basica, #tipo-calc-cientifica{
font-size: 1em;
padding: 5px 40px;
width:200px;
}

button{
    margin:0px;
    border:1px solid rgb(50, 52, 53);
    padding:20px;
    background-color:rgba(145, 151, 155, 0.9);
    font-family: 'Roboto', sans-serif;
    font-size:2em;
    letter-spacing:1px;
    color:white;
    width:100px;
}

button:active{
    background-color:rgb(190, 196, 201);
}

#ac, #positivo-negativo, #porcentagem{
    background-color:rgb(90, 91, 93);
}

#ac:active, #positivo-negativo:active, #porcentagem:active{
    background-color:rgb(159, 163, 165);
}

#divisao, #multiplicacao, #subtracao, #adicao, #igual{
    background-color:rgb(255, 170, 0);
    opacity: 1;
}
#divisao:active, #multiplicacao:active, #subtracao:active, #adicao:active, #igual:active{
    background-color:rgb(215, 157, 42);
    opacity: 1;
}
#zero{
    width:200px;
    border-radius: 0 0 0 15px;
}

#igual{
    border-radius: 0 0 15px 0;
}